[Unit]
Description=gunicorn
daemon After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ubi
ExecStart=/home/ubuntu/ubi/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/ubi/ubi.sock ubi.wsgi:application

[Install]
WantedBy=multi-user.target